.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #0d1f22;
    color: #899878;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-title {
    font-size: 24px;
    margin: 0;
}

.shopping-cart {
    font-size: 40px;
    cursor: pointer;
    color: #899878;
}

.shopping-cart:hover {
    color:#69140e;
    transition: color 0.3s ease;
}