.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    max-height: 100%;
    width: auto;
}

.page{
    color: white;
    padding-bottom: 20px;
    width: 10%;
}

h3{
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page:hover {
    color: #ff908f;
    transition: color 0.3s ease;
}

.shopping-cart {
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.shopping-cart:hover {
    color:#ff908f;
    transition: color 0.3s ease;
}