html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
} 

.home-content {
    background-image: url('../assets/HomePage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Mobile styles */
@media (max-width: 768px) {
    .home-content {
        background-image: url('../assets/MobileHomePage.png');
    }
}

/* Ensure header and footer don't block the background */
/* .header, .footer {
    background-color: transparent;
    position: relative;
    z-index: 2;
} */