.text {
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}

.form-container {
    position: absolute;
    top: 40%;
    left: 50%; /* Move to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust to truly center it */
    max-width: 600px;
    margin-top: 100px;
    padding: 40px;
    background-color: #929292;
    border-radius: 10px;
    box-shadow: 0 2px 10px rba(0,0,0,0.1);
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    padding: 8px;
    border: 1px solid white;
    font-size: 16px;
    width: 50%;
    border-radius: 4px;
    color: black;
}

input:focus {
    border-color: #ffe088; /* Change border color on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow on focus */
}

