.body{
    background-color: black;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff908f;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Garamond, serif;
}

button:hover {
    background-color:#e5ce74;
    transition: color 0.3s ease;
}