.confirm-button {
    padding: 10px 20px;
    background-color: #0d1f22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.confirm-button:hover {
    background-color:#69140e;
    transition: color 0.3s ease;
}