.confirm-box {
    position: absolute;
    top: 30%;
    left: 50%; /* Move to the horizontal center */
    transform: translate(-50%, -50%); /* Adjust to truly center it */
    max-width: 600px;
    margin-top: 100px;
    padding: 40px;
    background-color: #929292;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rba(0,0,0,0.1);
}